body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

table {
  border-collapse: collapse;
  font-size: 0.8em;
  table-layout: fixed;
}

thead {
  position: fixed;
  background-color: #00838F;
  color: white;
  top: 0;
  display: block;
  text-align: left;
}

tbody {
  display: block;
  margin-top: 40px;
}

th, td {
  padding: 3px;
  width: 100px;
}


tbody > tr {
  border-bottom: 1px solid lightgray;
  height: 70px;
}

th {
  border-bottom: 1px solid lightgray;
}

thead > tr {
  cursor: pointer;
  height: 40px;
}


.sortedDesc {
  border-bottom: 4px solid #FFCDD2;
}

.sortedAsc {
  border-top: 4px solid #FFCDD2;
}

.even {
  background-color: #E0F7FA;
}

.backToTop {
  position: fixed;
  right: 10px;
  border-radius: 10px;
  top: 40%;
  height: 100px;
  width: 100px;
  background-color: #00838F;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.backToTop:hover {
  opacity: 0.8;
}